*{

    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

.Top-container{
    display: flex;
     background-color: #1F2937; 
     font-family: hero; 
     color: white;
}
.beauty{
    border: none;
}
.second-container{
    display: flex;
}

.photos{
    display: flex;
    flex-wrap: nowrap;

}

img{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 120px;
}
.third-container{
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.author{
    display: flex;
    font-weight: bold;
}
.bottom-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
display: flex;
background-color: #3882F6;
padding: 20px;
width: 350px;
height: 40px;
margin-right: 150px;
margin-left: 150px;
margin-top: 65px;
margin-bottom: 65px;
}

.end{
    display: flex;
    background-color: #1F2937;
}

.body{
    display: flex;
    
}
.all{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

button{
    display: flex;
    background-color: #3882F6;
    width: 80px;
    height: 25px;
    flex-wrap: nowrap;
    color: white;
}

img{
    border: #3882F6 solid 3px;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: white;
}
