*{

    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2937;
    color: white;
    gap: 5px;
    flex-wrap: nowrap;
    
}
.Top-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
     background-color: #1F2937; 
     color: white;
     padding: 4%;
}
.top-h{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}
.top-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
}
.beauty{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    border: none;

}
.second-container{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
}


.photos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

}

img{
    display: flex;
    height: 95px;
    width: 65px;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    padding: 5%;
}
.quote-txt{
    display: flex;
    width: 280px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.author{
    display: flex;
    font-weight: bold;
}
.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5%;
    flex-wrap: wrap;
}

.child{
    display: flex;
background-color: #3882F6;
padding: 20px;
}
.up{
    align-self: flex-start;
}
.child-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.end{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: small;
}

.body{
    display: flex;
    
}
.all{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    margin: 0 25% 0 25%;

}

.blue{
    border: #E5E7EB solid 1px;
}
button{
    display: flex;
    background-color: #3882F6;
    width: 75px;
    height: 22px;
    flex-wrap: nowrap;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
}

img{
    border: #3882F6 solid 3px;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: white;
    flex-wrap: nowrap;
}
